<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">        
        <title>TechShop</title>
    </head>   
        <body>
            <header th:replace="~{layout/plantilla :: header}"/> 
            <section class="section1" id="producto">
                <article>
                    <figure class="img1">
                        <img th:src="${producto.rutaImagen2}" width="500" height="650"/>
                    </figure>
                </article>
                <section class="section2">
                    <h1 th:text="${producto.nombre}"></h1>
                    <form method="post">
                        <div th:text="${producto.descripcion}"></div>
                        <div th:text="${producto.detalle}"></div>
                        <div th:text="${producto.precio}"></div>
                    </form>
                </section>
                <section class="section3">
                     <div>Costo de envió de 2.500-4.500</div>
                     <button class="agregarBttn" style="" onclick="agregarAlCarrito('${producto.nombre}', '${producto.precio}')">
                        Agregar al carrito
                    </button>
                      <button class="comprarBttn">
                        Comprar ahora
                    </button>   
                </section>
            </section>
        </body>
</html>
