<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">        
        <title>TechShop</title>
    </head>   
    <body>
        <img src="https://cdn.discordapp.com/attachments/567553791855951873/1179870088346730546/image.png?ex=657b5aa5&is=6568e5a5&hm=5003002f6f21e1b634202498a5b832264f458240ca253bacd3728d88198bc038&" alt="backgroundTiendaProducto" class="backgroundTiendaProducto"/>
        <header th:replace="~{layout/plantilla :: header}"/>
            <article>
                <figure class="img1">
                    <img th:src="${producto.rutaImagen2}" width="500" height="650"/>
                </figure>
            </article>
            <section class="section1">
                <h1 th:text="${producto.nombre}"></h1>
                <form method="post">
                    <div th:text="${producto.descripcion}"></div>
                    <div th:text="${producto.detalle}"></div>
                    <div th:text="${producto.precio}"></div>
                </form>
            </section>
            <section class="section2">
                <div>Costo de envió de 2.500-4.500</div>
                <button class="agregarBttn" style="" onclick="agregarAlCarrito('${producto.nombre}', '${producto.precio}')">
                    Agregar al carrito
                </button>
                <div class="mb-3 cantidadDrop">
                    <label for="cantidad">Cantidad</label>
                    <select class="form-select" aria-label="Default select example" name="cantidad" required="true">
                        <option th:each="i : ${#numbers.sequence(1, producto.existencias)}" th:value="${i}" th:text="${i}"></option>
                    </select>
                </div>
                <button class="comprarBttn">
                    Comprar ahora
                </button>   
            </section>
    </body>
</html>
