
<html xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th ="http://www.thymeleaf.org/">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tienda</title>    
        
    </head>
    <body class="infobg">
        <header th:replace="~{layout/plantilla :: header}"/> 
        <section class="sectionInfo">
            <div class="texto-box">
                <figure>
                    <p class="texto">
                        Vaping soul es amante de grandiosos 
                        productos para vapear así como vos. Entendemos
                        la cultura del vapeo y les damos la mas grande bienvenida.
                        Creemos sinceramente en la reduccion al daño para personas 
                        que quieren dejar de fumar. Con eso en mente, nuestro objetivo 
                        es ofrecer la mejor y mas alta calidad de productos mientras siendo 
                        accesibles a todo el mercado.
                    </p>
                      
                </figure>
            </div>
            <figure>
                <div >
                    <img src="https://cdn.discordapp.com/attachments/840100188722692107/1171998086495739975/image.png?ex=655eb746&is=654c4246&hm=3c663a890c89f41b54626f232861c2640e36b2ffc134b564b5ed381654b1d160&" class="imgInfo"/>
                </div> 
            </figure>
        </section>
    </body>
</html>