

body{
   background-color:#6f42c1;
    
    
}


.login_body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;



}

.login_div {
    text-align: center;
}

.login_form{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background-color: #f1aeb5;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;

}



body.texto{
    
    font-family: 'Roboto', sans-serif;
    
    font-size: 3rem;
    color: #ffffff;
  
    

}

body.infobg{
    
   margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color:#6f42c1;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #f8d7dab8;
    color: #ffffff;
    
    text-align: center;
}
