.login_body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;



}

.login_div {
    text-align: center;
}

.login_form{
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    width: 300px;

}